# Configuración base del servidor
PORT=5000
FLASK_DEBUG=True
FLASK_ENV=development

# Credenciales LDAP (AD)
LDAP_SERVER=dominio.com
LDAP_BASE_DN=dc=dominio,dc=com
LDAP_SEARCH_LIMIT=20
LDAP_USER_DN=

# Credenciales para el ingreso a YoSoySaludsa (si se requiere automatización)
SALUDSA_USERNAME=username
SALUDSA_PASSWORD=password
SALUDSA_INTERNAL_IP=0.0.0.0

# IP o hostname del servidor de correo interno
SMTP_SERVER=smtp.office365.com
SMTP_PORT=587

# Cuenta de correo desde la cual se enviarán las notificaciones (debe ser una cuenta válida en el dominio)
SMTP_FROM=test@example.com.ec
# para construir destinatario: {username}@example.com.ec
EMAIL_DOMAIN=example.com.ec

# Usernames separados por coma — SIN @dominio
# Para agregar o quitar personas del CC: editar esta línea, sin tocar código
EMAIL_CC_USERNAMES=user1,user2,user3

# Configuración del Representante Legal de la Empresa
LEGAL_REPRESENTATIVE_NAME=""
LEGAL_REPRESENTATIVE_ID=""
